<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Create New Listings</h3>
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Add a catchy title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Enter a short description!!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload image file</label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-sm-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="Enter price"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter valid price!!</div>
          </div>

          <div class="mb-3 col-sm-7">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="Enter country"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter valid Country Name!!</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid location!!</div>
        </div>

        <br />
        <button class="btn btn-dark add-btn">ADD</button>
        <br /><br /><br />
      </form>
    </div>
  </div>
</body>
